/* Breakpoints */
$mobile-breakpoint: 500px;

/* Typography */
$sans-serif: "Lato", sans-serif;
$serif: "Merriweather", serif;

/* Colors */
$light-grey: #eee;
$off-white: #fafafa;
$pale-blue: #b3e5fc;
$light-black: #555;

/* Mixins */
@mixin flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@mixin button-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
