@use "typography";

* {
  outline: 1px solid cyan;
}

body {
  max-width: 900px;
  margin: auto;
}

main {
  header {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;

    nav {
      a {
        padding: 1rem;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  section {
    &:first-of-type {
      background: #eee;
      padding: 2rem 1rem 3rem;
    }
    &:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      * {
        flex: 1 1 450px;
      }
    }
  }
  table {
    width: 100%;
    tbody {
      tr {
        &:nth-child(odd) {
          background: #eee;
        }
        &:nth-child(even) {
          background: #fafafa;
        }
      }
    }
  }
}

footer {
  text-align: center;
}
