@use "typography";
@use "variables" as *;
// * {
//   outline: 1px solid cyan;
// }

body {
  max-width: 900px;
  margin: auto;
}

main {
  header {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    max-width: 800px;
    button {
      display: none;
    }
    nav {
      a {
        padding: 1rem;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    @media (max-width: $mobile-breakpoint) {
      display: block;
      margin: 0;
      button {
        display: block;
        padding: 0.5rem 1rem;
        text-align: left;
        width: 100%;
      }
      nav {
        height: 0;
        overflow: hidden;
        transition: height 0.22s ease-out;
        a {
          display: block;
          padding: 0.5rem 1rem;
          &:last-child {
            padding-right: 1rem;
          }
        }
      }
    }
  }

  section {
    padding: 1rem;
    &:first-of-type {
      background: $light-grey;
      border-radius: 0.5rem;
      padding: 2rem 1rem 3rem;
      max-width: 800px;
      button {
        @include button-shadow;
        background: adjust-color($pale-blue, $lightness: 10%);
        border-radius: 0.25rem;
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
      }
    }
    &:nth-of-type(2) {
      @include flex-wrapper;
      > * {
        flex: 1 1 420px;
      }
      aside {
        padding-left: 1rem;
      }
    }
  }
  table {
    width: 100%;
    max-width: 800px;
    td {
      padding: 0.22rem;
    }
    thead {
      tr {
        background: $off-white;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background: $light-grey;
        }
        &:nth-child(even) {
          background: $off-white;
        }
      }
    }
  }
}

footer {
  text-align: center;
  margin: 1rem 0;
}
